################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BattleShips/.vs/BattleShips
/BattleShips/BattleShips/obj
/BattleShips/BattleShips/bin/Debug/net6.0
